{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta information -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Title-->
    <title>工序实例</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static  "assets/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static  "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static  "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static  "assets/ico/apple-touch-icon-57-precomposed.png" %}">
    <link rel="shortcut icon" href="{% static  "assets/ico/favicon.ico" %}">
    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="{% static  "assets/css/bootstrap/bootstrap.min.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static  "assets/css/bootstrap/bootstrap-themes.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static  "assets/css/style.css" %}"/>

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style1"
          href="{% static  "assets/css/styleTheme1.css" %}"/>
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style2"
          href="{% static  "assets/css/styleTheme2.css" %}"/>
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style3"
          href="{% static  "assets/css/styleTheme3.css" %}"/>
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4"
          href="{% static  "assets/css/styleTheme4.css" %}"/>
    {% block css %}{% endblock %}

</head>
<body class="leftMenu nav-collapse">
<div id="wrapper">


    {% include "show/common/header.html" %}


    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     MAIN SHOW CONTENT     //////////
    //////////////////////////////////////////////////////////////////////
    -->

    <!-- //main-->
    {% block content %}{% endblock %}


    {% include "show/common/nav.html" %}


</div>
<!-- //wrapper-->


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->

<!-- Jquery Library -->
<script type="text/javascript" src="{% static  "assets/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static  "assets/js/jquery.ui.min.js" %}"></script>
<script type="text/javascript" src="{% static  "assets/plugins/bootstrap/bootstrap.min.js" %}"></script>
<!-- Modernizr Library For HTML5 And CSS3 -->
<script type="text/javascript" src="{% static  "assets/js/modernizr/modernizr.js" %}"></script>
<script type="text/javascript" src="{% static  "assets/plugins/mmenu/jquery.mmenu.js" %}"></script>
{#<script type="text/javascript" src="{% static  "assets/js/styleswitch.js" %}"></script>#}
<!-- Library 10+ Form plugins-->
<script type="text/javascript" src="{% static  "assets/plugins/form/form.js" %}"></script>
<!-- Datetime plugins -->
<script type="text/javascript" src="{% static  "assets/plugins/datetime/datetime.js" %}"></script>
<!-- Library Chart-->
<script type="text/javascript" src="{% static  "assets/plugins/chart/chart.js" %}"></script>
<!-- Library  5+ plugins for bootstrap -->
<script type="text/javascript" src="{% static  "assets/plugins/pluginsForBS/pluginsForBS.js" %}"></script>
<!-- Library 10+ miscellaneous plugins -->
<script type="text/javascript" src="{% static  "assets/plugins/miscellaneous/miscellaneous.js" %}"></script>
<!-- Library Themes Customize-->
<script type="text/javascript" src="{% static  "assets/js/caplet.custom.js" %}"></script>
{#<script type="text/javascript" src="{% static  "assets/js/JsBarcode.all.min.js" %}"></script>#}
<script>
{#    $(document).ready(function () {#}
{#        $('#rootwizard').bootstrapWizard({#}
{#            tabClass: "nav-wizard",#}
{#            onTabShow: function (tab, navigation, index) {#}
{#                tab.prevAll().addClass('completed');#}
{#                tab.nextAll().removeClass('completed');#}
{#                if (tab.hasClass("active")) {#}
{#                    tab.removeClass('completed');#}
{#                }#}
{#                var $total = navigation.find('li').length;#}
{#                var $current = index + 1;#}
{#                var $percent = ($current / $total) * 100;#}
{#                $('#rootwizard').find('.progress-bar').css({width: $percent + '%'});#}
{#                $('#rootwizard').find('.wizard-status span').html($current + " / " + $total);#}
{#            }#}
{#        });#}
{##}
{#        $('#validate-wizard').bootstrapWizard({#}
{#            tabClass: "nav-wizard",#}
{#            onNext: function (tab, navigation, index) {#}
{#                var content = $('#step' + index);#}
{#                if (typeof  content.attr("parsley-validate") != 'undefined') {#}
{#                    var $valid = content.parsley('validate');#}
{#                    if (!$valid) {#}
{#                        return false;#}
{#                    }#}
{#                }#}
{#                ;#}
{#                // Set the name for the next tab#}
{#                $('#step4 h3').find("span").html($('#fullname').val());#}
{#            },#}
{#            onTabClick: function (tab, navigation, index) {#}
{#                $.notific8('Please click <strong>next button</strong> to wizard next step!! ', {#}
{#                    life: 5000,#}
{#                    theme: "danger",#}
{#                    heading: " Wizard Tip :); "#}
{#                });#}
{#                return false;#}
{#            },#}
{#            onTabShow: function (tab, navigation, index) {#}
{#                tab.prevAll().addClass('completed');#}
{#                tab.nextAll().removeClass('completed');#}
{#                if (tab.hasClass("active")) {#}
{#                    tab.removeClass('completed');#}
{#                }#}
{#                var $total = navigation.find('li').length;#}
{#                var $current = index + 1;#}
{#                var $percent = ($current / $total) * 100;#}
{#                $('#validate-wizard').find('.progress-bar').css({width: $percent + '%'});#}
{#                $('#validate-wizard').find('.wizard-status span').html($current + " / " + $total);#}
{#            }#}
{#        });#}
{##}
{#    });#}
</script>
<script type="text/javascript">
    {#	JsBarcode(".barcode").init();#}
</script>
{% block js %}{% endblock %}
</body>
</html>