{% extends "show/common/base.html" %}
{% load staticfiles %}

{% block content %}
		<!--
		/////////////////////////////////////////////////////////////////////////
		//////////     MAIN SHOW CONTENT     //////////
		//////////////////////////////////////////////////////////////////////
		-->
		<div id="main">
		
		
				<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li class="active">生产流程</li>
				</ol>
				<!-- //breadcrumb-->
				
				<div id="content">
				
						<div class="row">
						
								<div class="col-lg-12" >
										<h1><strong>生产流程</strong> </h1>
										<label class="color" style="background-color:#edece5">条形码工具</label>
										
										<form id="rootwizard" class="wizard-step">
												<ul>
														<li><a href="#tab1" data-toggle="tab">1</a></li>
														<li><a href="#tab2" data-toggle="tab">2</a></li>
														<li><a href="#tab3" data-toggle="tab">3</a></li>
													<li><a href="#tab4" data-toggle="tab">4</a></li>
													<li><a href="#tab5" data-toggle="tab">5</a></li>
												</ul>
												<div class="progress progress-stripes progress-sm" style="margin:0">
														<div class="progress-bar" data-color="info"></div>
												</div>
												<div class="tab-content">
														<div class="tab-pane fade" id="tab1"> 
																<h3>工序 : 1</h3>
															<br>
															<label class="control-label">工序2条形码:</label>
															<br>
															<svg class="barcode"
																 jsbarcode-format="upc"
																 jsbarcode-value="123456789012"
																 jsbarcode-textmargin="0"
																 jsbarcode-fontoptions="bold">
															</svg>
																	<br>
															<p>
																<label class="control-label">当前时间</label>
																<span class="currentTime"></span>
															</p>

																<p>
																	<label class="control-label">请输入操作人员信息</label>
																	<input type="text" class="form-control"  parsley-rangelength="[1,32]"  parsley-required="true" parsley-trigger="keyup" placeholder="请输入操作人员信息">
																</p>
														</div>
														<div class="tab-pane fade" id="tab2">
																<h3>工序 : 2</h3>
															<br>
															<label class="control-label">工序3条形码:</label>
															<br>
															<svg class="barcode"
																 jsbarcode-format="upc"
																 jsbarcode-value="123456789012"
																 jsbarcode-textmargin="0"
																 jsbarcode-fontoptions="bold">
															</svg>
															<br>
															<p>
																<label class="control-label">当前时间</label>
																<span class="currentTime"></span>
															</p>

														</div>
														<div class="tab-pane fade" id="tab3">
																<h3>工序 : 3</h3>
															<br>
															<label class="control-label">工序4条形码:</label>
															<br>
															<svg class="barcode"
																 jsbarcode-format="upc"
																 jsbarcode-value="123456789012"
																 jsbarcode-textmargin="0"
																 jsbarcode-fontoptions="bold">
															</svg>
															<br>
															<p>
																<label class="control-label">当前时间</label>
																<span class="currentTime"></span>
															</p>
														</div>
													<div class="tab-pane fade" id="tab4">
														<h3>工序 : 4</h3>
														<br>
														<label class="control-label">工序5条形码:</label>
														<br>
														<svg class="barcode"
															 jsbarcode-format="upc"
															 jsbarcode-value="123456789012"
															 jsbarcode-textmargin="0"
															 jsbarcode-fontoptions="bold">
														</svg>
														<br>
														<p>
															<label class="control-label">当前时间</label>
															<span class="currentTime"></span>
														</p>
													</div>
													<div class="tab-pane fade" id="tab5">
														<h3>工序 : 5</h3>
														<br>
														<p>
															<label class="control-label">操作人</label>
															<span>操作人</span>
														<p>
															<label class="control-label">当前时间</label>
															<span class="currentTime"></span>
														</p>
														<p>
															<label class="control-label">当前步骤已完成</label>
														</p>
															<br>
																	<span>条形码:
																		<br>
																		<svg class="barcode"
																			 jsbarcode-format="upc"
																			 jsbarcode-value="123456789012"
																			 jsbarcode-textmargin="0"
																			 jsbarcode-fontoptions="bold">
</svg></span>
														</p>
													</div>
														<hr>
														<footer class="row">
															<div class="col-sm-4">
																	<section class="wizard">
																			<button type="button" class="btn btn-inverse previous"><i class="fa fa-angle-left"></i> 上一步</button>
																			<button type="button" class="btn btn-theme next">下一步 <i class="fa fa-angle-right"></i></button>
																	</section>
															</div>
															<div class="col-sm-8 align-lg-right"><div class="wizard-status">工序进度 : <span></span></div></div>
														</footer>
												</div>
										</form>
										
										<br><br>


										
								</div>
								<!-- //content > row > col-lg-12 -->
								
						</div>
						<!-- //content > row-->
						
				</div>
				<!-- //content-->
				
				
		</div>
		<!-- //main-->
		
		{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  	$('#rootwizard').bootstrapWizard({
					tabClass:"nav-wizard",
	                onTabShow: function(tab, navigation, index) {
					   tab.prevAll().addClass('completed');
						tab.nextAll().removeClass('completed');
						if(tab.hasClass("active")){
							tab.removeClass('completed');
						}
						var $total = navigation.find('li').length;
						var $current = index+1;
						var $percent = ($current/$total) * 100;
						$('#rootwizard').find('.progress-bar').css({width:$percent+'%'});
						$('#rootwizard').find('.wizard-status span').html($current+" / "+$total);
                    }
	});
	
	$('#validate-wizard').bootstrapWizard({
			tabClass:"nav-wizard",
			onNext: function(tab, navigation, index) {
							var content=$('#step'+index);
							if(typeof  content.attr("parsley-validate") != 'undefined'){
											var $valid = content.parsley( 'validate' );
											if(!$valid){
															return false;
											}
							};
			// Set the name for the next tab
			$('#step4 h3').find("span").html($('#fullname').val());
			},
			onTabClick: function(tab, navigation, index) {
							$.notific8('Please click <strong>next button</strong> to wizard next step!! ',{ life:5000, theme:"danger" ,heading:" Wizard Tip :); "});
							return false;
			},
			onTabShow: function(tab, navigation, index) {
							tab.prevAll().addClass('completed');
							tab.nextAll().removeClass('completed');
							if(tab.hasClass("active")){
											tab.removeClass('completed');
							}
							var $total = navigation.find('li').length;
							var $current = index+1;
							var $percent = ($current/$total) * 100;
							$('#validate-wizard').find('.progress-bar').css({width:$percent+'%'});
							$('#validate-wizard').find('.wizard-status span').html($current+" / "+$total);
			}
	});

});

function getNowFormatDate() {
	var date = new Date();
	var seperator1 = "-";
	var seperator2 = ":";
	var month = date.getMonth() + 1;
	var strDate = date.getDate();
	if (month >= 1 && month <= 9) {
		month = "0" + month;
	}
	if (strDate >= 0 && strDate <= 9) {
		strDate = "0" + strDate;
	}
	var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
			+ " " + date.getHours() + seperator2 + date.getMinutes()
			+ seperator2 + date.getSeconds();
	return currentdate;
}

	$(".currentTime").html(getNowFormatDate());
</script>
<script type="text/javascript">
	JsBarcode(".barcode").init();
</script>
{% endblock %}