{% extends "show/common/base.html" %}
{% load staticfiles %}
{% block title %}我的主页{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/libs/font-awesome.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/libs/dataTables.fixedHeader.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/libs/dataTables.tableTools.css" %}">
{% endblock %}
{% block content %}
      <div id="main">



				<ol class="breadcrumb">
						<li><a href="#">首页</a></li>
						<li class="active">个人信息</li>
				</ol>
				<!-- //breadcrumb-->

				<div id="content">
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <header class="main-box-header clearfix">
                    <h2>&nbsp;</h2>
                </header>
                <div class="col-lg-12">
                    <div class="main-box">

                        <div class="main-box-body clearfix">
                            <form class="form-horizontal" id="passwordForm" role="form" method="POST"
                                  action="/profile/" parsley-validate parsley-bind>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="inputEmail1" class="col-lg-2 control-label">昵称</label>

                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="nickname" name="nickname"
                                               placeholder="请输入昵称" parsley-trigger="keyup"
                                               parsley-rangelength="[1,11]" parsley-required="true"
                                               parsley-error-message="昵称长度在1-11位之间" value="{{ user.nickname }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword1" class="col-lg-2 control-label">介绍</label>

                                    <div class="col-lg-10">
                                                    <textarea name="introduction" class="form-control"
                                                              placeholder="请输入个人介绍" parsley-trigger="keyup"
                                                              parsley-rangelength="[1,255]">{{ user.introduction }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align: center;">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
        </div>
    </div>

{% endblock %}
{% block js %}

    <script type="text/javascript" src="{% static "plugins/form/form.js" %}"></script>
    <!-- theme scripts -->
    {#<script src="{% static "js/scripts.js" %}"></script>#}
    {#<script src="{% static "js/pace.min.js" %}"></script>#}

    <!-- this page specific inline scripts -->
    <script>
        $(function () {
            $("#passwordForm").submit(function (e) {
                if (typeof  $(this).attr("parsley-validate") != 'undefined') {
                    var $valid = $(this).parsley('validate');
                    var $alipay = $("#alipay").val();

                    if (!$valid) {
                        e.preventDefault();
                        return false;
                    }
                }
                return true;
            })

        })

    </script>
{% endblock %}